body {
    font-family: 'Poppins', sans-serif;
}

.header, .footer {
    font-weight: 600;
}

.container {
    max-width: 900px;
}

.list-group-item {
    border: none;
    background-color: #f8f9fa;
    font-weight: 500;
    font-size: 18px;
}
